<% if logged_in? %>
<h3>Welcome, <%= current_username %></h3>
<a href='/logout'>log out</a>
<% end %>
    <h1>Latest posts:</h1>
<br>
<% @posts.each do |p| %>
    <%= p.user_id %>&nbsp<%= p.post_time %>
        <br>
            <a href="/posts/<%= p.id %>"><%= p.id %></a>
                <br>
            <%= p.body %>
        <br>
    <br>   
<% end %>
